*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-grey: #1b1b32;
  --light-grey: #f5f6f7;
  --black: #000;
  --white: #fff;
  --grey: #3b3b4f;
  --golden-yellow: #fecc4c;
  --yellow: #ffcc4c;
  --gold: #feac32;
  --orange: #ffac33;
  --dark-orange: #f89808;
}

body {
  background-color: var(--dark-grey);
  font-family: Arial, Helvetica, sans-serif;
  padding:3px;
}

.title {
  position:relative;
  float:center;
  color: var(--light-grey);
  flex-wrap: wrap;
  text-align: center;
  
}

#dessert-card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.dessert-card {
  background-color: var(--light-grey);
  padding: 15px;
  text-align: center;
  border-radius: 15px;
  margin: 20px 10px;
  justify-items: center;
}

.dessert-price {
  font-size: 1.2rem;
}

.btn {
  display: block;
  cursor: pointer;
  width: 100px;
  color: var(--dark-grey);
  background-color: var(--gold);
  background-image: linear-gradient(var(--golden-yellow), var(--orange));
  border-color: var(--gold);
  border-width: 3px;
}

.btn:hover {
  background-image: linear-gradient(var(--yellow), var(--dark-orange));

}

#cart-btn {
  position: fixed;
  top: 2px;
  right: 2px;
}

.add-to-cart-btn {
  margin: 30px auto 10px;
}




#cart-container {
  display: none;
  position: fixed;
  top: 60px;
  right: 0;
  background-color: var(--light-grey);
  width: 200px;
  height: 400px;
  border: 8px double var(--black);
  border-radius: 15px;
  text-align: center;
  font-size: 1.2rem;
  overflow-y: scroll;
}

.product {
  margin: 25px 0;
  
}

.product-count {
  display: inline-block;
  margin-right: 10px;
}

.product-category {
  margin: 10px 0;
}


  #dessert-card-container {
    flex-wrap: wrap;
    flex-direction: row;
    margin:15px;
  }

  .dessert-card {
    flex: 1 0 21%;
  }

  #cart-container {
    width: 300px;
  }




img.picture {
    width:300px;
    height:400px;
    box-shadow: 10px 5px 5px rgb(14, 5, 5);
    margin-bottom: 5px;


}

p.letter {
    font-weight: bold;
    
}


#submit {
    margin:10px;
    background-color: rgb(240, 173, 73);
    border-radius: 6px;
    width:100px;
    margin-bottom: 35px;
    
}
#submit:hover {
    background-color: red;
}

.tel{

  font-size: 25px;
  color:#f89808
}
 #header {
  position:relative;
  width:265px;
  height:150px;
  margin-right:65px;
 
  top:15px;} 


#author {
  position:relative;
  left:10px;
  width:92px;
  height:92px;
  border-radius: 50%;
  margin-right:12px;
  top:10px;
  border:2px double yellow;
  

}

.author{

  color:white;
  top:15px;
  left:3px;
  
}

#span-letter{
  margin-top:0px;
  float:right;
  left:15px;


  
}

#span-letter::first-letter{
  font-size: 45px;
}



label,input {
display:block;
/* flex-direction: column; */
text-align: center;
justify-self: center;

 
  
  
 
}  

input {
  border:2px solid black;
  border-radius:3px;
  width:80%;
  margin-left:auto;
  margin-right:auto;
  border-radius: 5px;
  height:35px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#form-element {
  display:block;
  flex-wrap: wrap;
  flex-direction: column;
  justify-items: center;
  background-color: #f3e2ca;
}

textarea{
  position:relative;
  flex-wrap: wrap;
  border: 2px solid black;
  left:10px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
   padding:5px;
  
}

hr {
  width:80%;
  margin-left: auto;
  margin-right: auto;
}

h1{
  text-transform: uppercase;
}

#author {



   animation-duration: 12s;
 
    animation-name:author;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
     object-fit: cover;

  
 

}

@keyframes author {

    100% {
 transform: rotate(360deg);
    
   }
}


p > #orderlist{
  padding:10px;
  display: block;
  flex-direction: column;
  grid-area: 15px;
  color:red;

}